*{
  box-sizing: border-box;
  color: #515076;
  font-family: Montserrat, sans-serif;
}

.body {
  margin: 0;
  display: flow-root;
}

.main-title {
  font-weight: 400;
  font-size: 70px;
  margin: 220px auto 110px;
  text-align: center;
}

.backgound-main {
  margin-top: 0;
  margin-left: 200px;
  z-index: -1;
  position: relative;
}

.background-main__img {
  width: 790px;
  height: 697px;
  /* margin: 0 auto; */
  position: absolute;
  top: 0;
  left: 93px;
}

.product-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  width: 1110px;
  justify-content: center;
  margin: 0 auto;
}

.product-card {
  box-sizing: border-box;
  width: 340px;
  min-height: 573px;
  flex-direction: column;
  padding: 25px;
  background-color: #F7F7FA;
}

.product-card__image {
  min-width: 290px;
  min-height: 245px;
  margin-bottom: 30px;
}

.product-card__normal-skin {
  min-height: 24px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-bottom: 5px;
}

.product-card__title {
  min-height: 27px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.product-card__description {
  min-height: 36px;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
}

.product-card__ingrindients {
  min-height: 18px;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 5px;
}

.product-card__all-ingridients {
  min-height: 18px;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 5px;
  
}

.product-card__point {
  min-height: 18px;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 5px;
  list-style: circle;
  
}

.product-card__price-box {
  display: flex;
  justify-content: space-between;
}

.product-card__list {
  list-style-position: inside;
  font-size: 13px;
  padding-left: 15px;
  line-height: 18px;
 
}

.product-card__price-text {
  min-height: 24px;
  font-size: 20px;
  font-weight: 700;
}

.product-card__price {
  min-height: 24px;
  font-size: 20px;
}

